.page {
	max-width: 880px;
	background-color: #000000;
	font-family: 'Inter','Arial', sans-serif;
	margin: auto;
	color: white;
}

@media screen and (max-width: 980px) {
	.page {
	max-width: 581px;
}
}
