.popup__container {
	box-sizing: border-box;
	min-width: 430px;
	background-color: #ffffff;
	position: relative;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 34px 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 660px) {
	.popup__container {
		min-width: 282px;
		padding: 25px 22px;
	}
}