.popup__container {
	box-sizing: border-box;
	min-width: 430px;
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 34px 36px;
	position: relative;
}

@media screen and (max-width: 660px) {
	.popup__container {
		min-width: 282px;
		padding: 25px 22px;
	}
}