.popup__button {
	border: none;
	margin-top: 48px;
	background-color: #000000;
	color: #ffffff;
	min-height: 50px;
	border-radius: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.popup__button:hover {
	cursor: pointer;
	opacity: .8;
}

@media screen and (max-width: 660px) {
	.popup__button {
		margin-top: 45px;
		min-height: 46px;
		font-size: 14px;
		line-height: 17px;
	}
}