.profile__add-buton {
	box-sizing: border-box;
	border: 2px solid #ffffff;
	background: url(../../../images/AddButton.svg) no-repeat center transparent;
	min-height: 50px;
	min-width: 150px;
	margin-left: auto;
	padding: 0;
}

.profile__add-buton:hover {
	cursor: pointer;
}

@media screen and (max-width: 660px) {
	.profile__add-buton {
		min-width: 282px;
		margin: 0 auto;
	}
}