.profile__add-buton {
	
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid #ffffff;
	background-image: url(../../../images/AddButton.svg);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 50px;
	min-width: 150px;
	margin-left: auto;
	padding: 0;
}

.profile__add-buton {
	cursor: pointer;
}

@media screen and (max-width: 660px) {
	.profile__add-buton {
		min-width: 282px;
		margin: 0 auto;
	}
}